# SPDX-FileCopyrightText: 2026 Siemens AG
#
# SPDX-License-Identifier: Apache-2.0
#
# Author: Michael Adler <michael.adler@siemens.com>

redirect_url = "https://wfx-mgmt.localhost:8443/oauth2/callback"
reverse_proxy = true
trusted_proxy_ips = ["127.0.0.1/32"]
email_domains = ["*"]
whitelist_domains = ["wfx-mgmt.localhost:8443", "wfx.localhost:8443"]
cookie_secure = true
cookie_samesite = "lax"
skip_provider_button = true
skip_jwt_bearer_tokens = true
bearer_token_login_fallback = false
api_routes = ["^/api/"]
